{{- if $.use_bitwarden -}}
  {{- /* Bitwarden ist installiert, Key aus Bitwarden */ -}}
  {{- $itemName := printf "SSH Key - %s" .chezmoi.hostname -}}
  {{- $item := bitwardenFields "item" $itemName -}}
  {{- $item.PublicKey.value -}}
{{- end -}}
