{{- if $.use_bitwarden -}}
  {{- /* Bitwarden ist installiert, Key aus Bitwarden */ -}}
  {{- $itemName := printf "SSH Key - %s" .chezmoi.hostname -}}
  {{- $item := bitwarden "item" $itemName -}}
  {{ printf "%s\n" $item.notes }}
{{- end -}}

